<div class="card w-100 bg-white shadow-lg rounded-lg overflow-hidden">
    <div class="card-body items-center text-center">
        <h2 class="card-title">Registre su nueva tarea</h2>
        <input 
            type="text" 
            placeholder="Titulo" 
            class="input input-bordered input-primary w-full max-w-xs" 
        />
        <textarea 
            class="textarea textarea-primary w-full max-w-xs" 
            placeholder="Que haras especificamente?"></textarea>
        <div class="card-actions justify-end">
            <button class="btn btn-primary">Crear</button>
            <button class="btn btn-ghost">Limpiar</button>
        </div>
    </div>
</div>